<h1>Editing Admin Article</h1>

<%= render 'form', article: @article %>

<h2>Item References</h2>
<%= render "admin/item_references/references" %>


<%= link_to 'Show', admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
